@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}

.nav {
  background-color: #70cdbb;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 0px;
}

.navDiv {
  font-weight: 500;
  color: #241403;
  text-decoration: none;
  justify-self: center;
  font-size: 19px;
}
