@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

body {
  font-family: "Parkinsans", sans-serif;
  margin: 0px;
  padding-top: 60px;
}

.nav {
  background-color: #70cdbb;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
}

.navDiv {
  font-weight: 500;
  color: #241403;
  text-decoration: none;
}
