@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: #fffefd;
}
.BitCoaster {
  background: url("src/images/ride_1.png");
  /* background-color: red; */
}

.Bubble {
  background: url("../images/ride_1.png");
}

ul {
  list-style: none;
}

/* img {
  width: 500px;
  height: 550px;
} */

#group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}

.image-container {
  width: 500px;
  height: 550px;
  transition: transform 0.3s ease;
}
.image-container:hover {
  opacity: 50%;
  transform: scale(1.1);
}

#rideName {
  font-weight: 500;
  color: #412406;
  text-decoration: none;
  font-size: 22px;
}

.title {
  display: grid;
  place-items: center;
  margin: 30px;
}

.ribbon {
  height: 70px;
  width: auto;
  grid-area: 1 / 1;
}

.featured {
  font-weight: 700;
  color: #412406;
  font-size: 25px;
  grid-area: 1 / 1;
}

#button {
  border: none;
  background-color: #70cdba87;
  font-size: 21px;
  color: #fffcfc;
  font-weight: 600;
  cursor: pointer;
  font-family: "Nunito";
  border-radius: 9px;
  align-self: center;
}

#button:hover {
  border: none;
  background-color: #70cdbad1;
}

.ride-details {
  margin: 30px;
  background: #faf2e5;
  padding: 40px;
  border-radius: 9px;
}

.ride-info {
  margin-bottom: 20px;
}

.ride-info h3 {
  color: #412406;
  font-size: 24px;
  margin-bottom: 10px;
}

.ride-info p {
  margin: 8px 0;
  color: #412406;
}

.book-btn {
  display: block;
  background: pink;
  color: white;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 30px auto;
  padding: 10px 30px;
  width: fit-content;
}

.book-btn:hover {
  background: #5cb3a1;
}
